<a href="https://colab.research.google.com/github/ChanyaphasC/data-science-bootcamp-8/blob/main/Python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Programming 101**

- variables
- data types
- data structures
- function
- control flow

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
## basic expression / calculation
print(1+1)
print(5-2)
print(2*2)
print(10//3)  # ปัดทศนิยมลง
print(round(1.5)) # ปัดทศนิยมขึ้น

## power exponant
print(pow(5,2))
print(abs(-5))

In [ ]:
## compare value
1+1 == 2
1+1 != 2
5<2
(1+5)*2/3

4.0

In [ ]:
## python = AI software + API + ML, R = statistics

my_name = "Nina"
income = 50000
expense = 36000
saving = income - expense
print(saving)
print(my_name, saving)

14000
Nina 14000

In [ ]:
## delete variable
del saving

In [ ]:
## print string
my_name = "Nina"
age = 21
fav_lang = "R"

## fstring ; string template
f"Hi my name is {my_name} and I'm {age} years old my favorite language is {fav_lang}."

"Hi my name is Nina and I'm 21 years old my favorite language is R."

In [ ]:
## traditional way to create template
my_name = "Nina"
"Hi my name is {}".format(my_name)

'Hi my name is Nina'

In [ ]:
## string + string
## string * 3
text = "blackpink" + " in your area!"
print(text, len(text))

blackpink in your area! 23

In [ ]:
## data types
## 1. int : 5
## 2. float : 8.23
## 3. str : "Hello", 'Hello'
## 4. bool : True False

In [ ]:
x = "I\"M learning Python!" # escape variable
print(x, type(x))

I"M learning Python! <class 'str'>

In [ ]:
# newline (\n), tab (\t) character
print("Hello\nWorld")
print("Hello\tWorld")

Hello
World
Hello	World

In [ ]:
poem = """hello world
I'm learning python
and it's similar to R"""

print(poem)

hello world
I'm learning python
and it's similar to R

In [ ]:
## convert datatype (int(), float(), str(), bool())
x = 1
print(x, type(x))

x = str(x)
print(x, type(x))

print(int(True))

print(bool(100))  # positive > 0 == True

1 <class 'int'>
1 <class 'str'>
1
True

In [ ]:
## get input from user

user_name = input("what's your username: ")
print("Hi! " + user_name)

user_age = input("How old are you? ")
print("Your age: " + user_age)
print(int(user_age) * 2)   # convert str to int

what's your username: nina
Hi! nina
How old are you? 21
Your age: 21
42

In [ ]:
## type hint
age: int = 20
print(age, type(age))

gpa: float = 3.5
print(gpa, type(gpa))

university: str = "chiangmai"
print(university, type(university))

20 <class 'int'>
3.5 <class 'float'>
chiangmai <class 'str'>

In [ ]:
## define a new function

def  add_two_num(val1, val2):
    return val1 + val2

result = add_two_num(5, 10)
print(result)

15

In [ ]:
## default argument
def greeting(name = "Nina", food ="KFC"):
 #   return("Hello! " + name)
    return f"Hello! {name}. Do you like {food} ?"

greeting("eiei")  # call function
greeting()

'Hello! Nina. Do you like KFC ?'

In [ ]:
## get input from user
def greeting_v2():
    name = input("What's your name? ")
    return f"Hello {name} !"

greeting_v2()

What's your name? nina

'Hello nina !'

In [ ]:
## function that return multiple values
def demo():
    name1 = input("Pick a name: ")
    name2 = input("Pick a name: ")
    return (name1, name2, 100)         # tuple

In [ ]:
# tuple unpacking
friend1, friend2, _ = demo()

Pick a name: lisa
Pick a name: nina

In [ ]:
## 4. data structures
## 4.1 list
## 4.2 tuple
## 4.3 dictionary
## 4.4 set

In [ ]:
## 4.1 list[]
shopping_list = ["banana", "egg", "bread"]
shopping_list

['banana', 'egg', 'bread']

In [ ]:
# method list.append
shopping_list.append("noodle")
shopping_list.append("orange")
shopping_list.insert(0, "grapde")
print(shopping_list)

['grapde', 'banana', 'egg', 'bread', 'noodle', 'orange']

In [ ]:
# update value if we know the index
shopping_list[0] = "grape"
shopping_list

['grape', 'banana', 'egg', 'bread', 'noodle', 'orange']

In [ ]:
# insert
shopping_list.insert(2, "milk")

print(shopping_list, "\ncount shopping list " ,len(shopping_list))

['grape', 'banana', 'milk', 'egg', 'bread', 'noodle', 'orange']
count shopping list  7

In [ ]:
## function vs. method
## OOp Object Oriented Programming

shopping_list.pop() # remove the last element

'orange'

In [ ]:
# remove specific item
shopping_list.remove("banana")

In [ ]:
# pop
shopping_list.pop(1)
shopping_list

['grapde', 'egg', 'bread', 'noodle']

In [ ]:
# add two lists together
item1 = ["banana", "grape", "orange"]
item2 = ["milk", "bread"]

full_list = item1 + item2
print(full_list, len(full_list))

['banana', 'grape', 'orange', 'milk', 'bread'] 5

In [ ]:
# sort data
full_list.sort()
full_list.sort(reverse = True)
full_list

['orange', 'milk', 'grape', 'bread', 'banana']

In [ ]:
## highlight how to use list
item1 = ["banana", "orange"]
item2 = item1.copy()

item1[0] = "longan"

print(item1, item2)

['longan', 'orange'] ['banana', 'orange']

In [ ]:
## 4.2 tuple() very similar to list
# tuple is immutable
# while, list is mutable
friends = ("toy", "john", "lisa")   # can't update value na
friends

('toy', 'john', 'lisa')

In [ ]:
## 4.3 dictionary{key:value}
def hi():
    return "hi!"
nina = {
    "fname": "Chanyaphas",
    "lname": "Chaikongcha",
    "age": 21,
    "movie_lover": True,
    "education": "Bachelor's degree",
    "fave_movies": ["peaky blindsders",
                    "Aquaman",
                    "Zootopia"],
    "function": hi
}

In [ ]:
nina["fave_movies"][0]

'peaky blindsders'

In [ ]:
nina_func = nina["function"]
nina_func()

'hi!'

In [ ]:
# update value in dict , dict is mutable
nina["fname"]  = "Chanyapas"
nina

{'fname': 'Chanyapas',
 'lname': 'Chaikongcha',
 'age': 21,
 'movie_lover': True,
 'education': "Bachelor's degree",
 'fave_movies': ['peaky blindsders', 'Aquaman', 'Zootopia'],
 'function': <function __main__.hi()>}

In [ ]:
# delete key
del nina["lname"]
nina

{'fname': 'Chanyapas',
 'age': 21,
 'movie_lover': True,
 'education': "Bachelor's degree",
 'fave_movies': ['peaky blindsders', 'Aquaman', 'Zootopia'],
 'function': <function __main__.hi()>}

In [ ]:
nina["lname"] = "Doe"
nina

{'fname': 'Chanyapas',
 'age': 21,
 'movie_lover': True,
 'education': "Bachelor's degree",
 'fave_movies': ['peaky blindsders', 'Aquaman', 'Zootopia'],
 'function': <function __main__.hi()>,
 'lname': 'Doe'}

In [ ]:
# get method
nina.get("hello world")

nina["age"]
nina["university"] = "chiangmai"
nina

{'fname': 'Chanyapas',
 'age': 21,
 'movie_lover': True,
 'education': "Bachelor's degree",
 'fave_movies': ['peaky blindsders', 'Aquaman', 'Zootopia'],
 'function': <function __main__.hi()>,
 'lname': 'Doe',
 'university': 'chiangmai'}

? mutable => list, dictionary

? immutable => tuple

In [ ]:
## 4.4 set {unique set}
fruits = {"apple", "orange", "banana", "banana"}

print(fruits, type(fruits))  # don't show duplicate value

{'orange', 'banana', 'apple'} <class 'set'>

In [ ]:
# convert list to set
fruits = ["apple", "orange", "banana", "banana"]
unique_set_fruits = set(fruits)
unique_set_fruits

{'apple', 'banana', 'orange'}

# Essential Python